*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh; 
}
.maps iframe{
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 350px;
    margin-left: 1090px;
    width: 50vh;
}